.DS_Store
build/*
build
*.pbxuser
*.mode1
*.mode1v3
.svn
.DS_Store
*~
Makefile.in
aclocal.m4
.deps
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
*.a
*.o
autom4te.cache
libtool
ltmain.sh
missing
InfoPlist.h
*.xcuserstate
project.xcworkspace/
xcuserdata/
