.DS_Store
build/*
build
*.pbxuser
*.mode1
*.mode1v3
.svn
.DS_Store
*~
Makefile.in
aclocal.m4
.deps
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
*.a
*.o
autom4te.cache
libtool
ltmain.sh
missing
InfoPlist.h
*.xcuserstate
project.xcworkspace/
xcuserdata/
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa

