<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TeslaTunes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E502D0BB1A739D1500BE86E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E502D0D11A739D1600BE86E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5CC88B71AB5927E00C8951F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
